body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    position: fixed;
    background: #71DFE7;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
}

header .logo {
    height: 60px;
    padding-top: 5px;
    line-height: 60px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover,
header nav ul li a.active {
    color: #ffffff;
    background-color: #71DFE7;
    height: 60px;
    margin: 0;
}

.menu-toggle {
    padding-top: 5px;
    color: white;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/* responsive */

@media (max-width: 800px) {
    header {
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;
    }

    header nav {
        line-height: 3px;
        position: absolute;
        width: 50%;
        height: calc(100vh - 60px);
        background: rgb(113, 223, 231, 0.7);
        top: 60px;
        right: -100%;
        transition: 0.5s all;
    }

    header nav.active {
        right: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        color: rgb(255, 255, 255);
    }
}